# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/assetic/*
web/bundles/*
web/css/*
web/font/*
web/ico/*
web/img/*
web/js/*
web/less/*
web/uploads/*
src/Lantern/ExtLibBundle/Resources/public/bower_components/*
*.php~

# Configuration files
app/config/parameters.yml
/nbproject/private/