# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/bundles/*
web/css/*
web/font/*
web/ico/*
web/img/*
web/js/*
web/less/*
web/uploads/*
*.php~

# Configuration files
app/config/parameters.yml
/nbproject/private/