# copy this file and rename to parameters.yml
# be sure to fill in the necessary values for your installation
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     lantern
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # the following parameters should not be altered
    app_name:          lantern
    app_description:   an open source web based media server
    app_keywords:      lantern open source web application media server php javascript html5 css3
    app_license:       gpl 3.0
    app_version:       1.0
    app_release:       0.0.1-alpha
    author_name:       curtis g hanson
    author_email:      curtisghanson@gmail.com
    author_site:       fartinginelevators.com