{% extends '::base.html.twig' %}

{% set pageIcon = 'file-o' %}
{% set pageTitle = 'admin.panel'|trans %}
{% set pageSubtitle = 'media'|trans %}
{% set active = 'LanternMediaBundle_media_index' %}

{% block navBody %}
    {% include 'LanternAdminBundle::nav.html.twig' %}
{% endblock navBody %}

{% block contentBody %}
    <h1>Media edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('LanternMediaBundle_media_index') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock contentBody %}
