.height-full { height: 100%; }
.width-full  { width:  100%; }

/* DISPLAY (applies to: container) */
.flex {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
}

.flex .flex-inline {
    display: -webkit-inline-flex;
    display:    -moz-inline-flex;
    display:     -ms-inline-flex;
    display:         inline-flex;
}

/* FLEX-DIRECTION (applies to: container) */
.row {
    -webkit-flex-direction: row;
    -moz-flex-direction:    row;
    -ms-flex-direction:     row;
    flex-direction:         row;
}

.row-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction:    row-reverse;
    -ms-flex-direction:     row-reverse;
    flex-direction:         row-reverse;
}

.column {
    -webkit-flex-direction: column;
    -moz-flex-direction:    column;
    -ms-flex-direction:     column;
    flex-direction:         column;
}

.column-reverse {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction:    column-reverse;
    -ms-flex-direction:     column-reverse;
    flex-direction:         column-reverse;
}

/* FLEX-WRAP (applies to: container) */
.nowrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap:    nowrap;
    -ms-flex-wrap:     nowrap;
    flex-wrap:         nowrap;
}

.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap:    wrap;
    -ms-flex-wrap:     wrap;
    flex-wrap:         wrap;
}

.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -moz-flex-wrap:    wrap-reverse;
    -ms-flex-wrap:     wrap-reverse;
    flex-wrap:         wrap-reverse;
}

.row-nowrap
.row-wrap
.row-wrap-reverse
.row-reverse-nowrap
.row-reverse-wrap
.row-reverse-wrap-reverse
.column-nowrap
.column-wrap
.column-wrap-reverse
.column-reverse-nowrap
.column-reverse-wrap
.column-reverse-wrap-reverse

/* TBD: flex-flow  flex-direction | flex-wrap */

/* order (container and item) */
.order-first {
    -webkit-order: -1;
    -moz-order:    -1;
    -ms-order:     -1;
    order:         -1;
}

.order-last {
    -webkit-order: 100;
    -moz-order:    100;
    -ms-order:     100;
    order:         100;
}

/**
 * JUSTIFY-CONTENT (applies to: container)
 * ***************************************
 * Items are justified along the main-axis
 * of the container, that is, how they are
 * aligned horizontally
 */

 /**
 * .left
 * .----------------------------------------------.
 * | .--------. .--------. .--------.             |
 * | | item 1 | | item 2 | | item 3 |             |
 * | `--------` `--------` `--------`             |
 * `----------------------------------------------`
 */
.left {
    -webkit-justify-content: flex-start;
    -moz-justify-content:    flex-start;
    -ms-justify-content:     flex-start;
    justify-content:         flex-start;
}

 /**
 * .right
 * .----------------------------------------------.
 * |             .--------. .--------. .--------. |
 * |             | item 1 | | item 2 | | item 3 | |
 * |             `--------` `--------` `--------` |
 * `----------------------------------------------`
 */
.right {
    -webkit-justify-content: flex-end;
    -moz-justify-content:    flex-end;
    -ms-justify-content:     flex-end;
    justify-content:         flex-end;
}

 /**
 * .align-center
 * .----------------------------------------------.
 * |       .--------. .--------. .--------.       |
 * |       | item 1 | | item 2 | | item 3 |       |
 * |       `--------` `--------` `--------`       |
 * `----------------------------------------------`
 */
.center {
    -webkit-justify-content: center;
    -moz-justify-content:    center;
    -ms-justify-content:     center;
    justify-content:         center;
}

 /**
 * .space-between
 * .----------------------------------------------.
 * | .--------.       .--------.       .--------. |
 * | | item 1 |       | item 2 |       | item 3 | |
 * | `--------`       `--------`       `--------` |
 * `----------------------------------------------`
 */
.space-between {
    -webkit-justify-content: space-between;
    -moz-justify-content:    space-between;
    -ms-justify-content:     space-between;
    justify-content:         space-between;
}

 /**
 * .align-space-around
 * .----------------------------------------------.
 * |    .--------.    .--------.    .--------.    |
 * |    | item 1 |    | item 2 |    | item 3 |    |
 * |    `--------`    `--------`    `--------`    |
 * `----------------------------------------------`
 */
.space-around {
    -webkit-justify-content: space-around;
    -moz-justify-content:    space-around;
    -ms-justify-content:     space-around;
    justify-content:         space-around;
}

/**
 * ALIGN-ITEMS (applies to: container)
 * ***************************************
 * Iems are aligned along the cross-axis
 * of the container, that is, how they are
 * aligned vertically
 */

/**
 * .stretch (default)
 * .----------------------------------------------.
 * | .--------. .--------. .--------.             |
 * | |        | |        | |        |             |
 * | | item 1 | | item 2 | | item 3 |             |
 * | |        | |        | |        |             |
 * | `--------` `--------` `--------`             |
 * `----------------------------------------------`
 */
.stretch {
    -webkit-align-items: stretch;
    -moz-align-items:    stretch;
    -ms-align-items:     stretch;
    align-items:         stretch;
}

/**
 * .top
 * .----------------------------------------------.
 * | .--------. .--------. .--------.             | <-- aligned this axis
 * | |        | | item 2 | | item 3 |             |
 * | | item 1 | `--------` |        |             |
 * | |        |            `--------`             |
 * | `--------`                                   |
 * `----------------------------------------------`
 */
.top {
    -webkit-align-items: flex-start;
    -moz-align-items:    flex-start;
    -ms-align-items:     flex-start;
    align-items:         flex-start;
}

/**
 * .align-bottom
 * .----------------------------------------------.
 * | .--------. .--------. .--------.             | <-- aligned this axis
 * | |        | | item 2 | | item 3 |             |
 * | | item 1 | `--------` |        |             |
 * | |        |            `--------`             |
 * | `--------`                                   |
 * `----------------------------------------------`
 */
.bottom {
    -webkit-align-items: flex-end;
    -moz-align-items:    flex-end;
    -ms-align-items:     flex-end;
    align-items:         flex-end;
}

.middle {
    -webkit-align-items: center;
    -moz-align-items:    center;
    -ms-align-items:     center;
    align-items:         center;
}

.baseline {
    -webkit-align-items: baseline;
    -moz-align-items:    baseline;
    -ms-align-items:     baseline;
    align-items:         baseline;
}

/* align-self (item) */
.auto {
    -webkit-align-self: auto;
    -moz-align-self:    auto;
    -ms-align-self:     auto;
    align-self:         auto;
}

.top {
    -webkit-align-self: flex-start;
    -moz-align-self:    flex-start;
    -ms-align-self:     flex-start;
    align-self:         flex-start;
}

.bottom {
    -webkit-align-self: flex-end;
    -moz-align-self:    flex-end;
    -ms-align-self:     flex-end;
    align-self:         flex-end;
}

.middle {
    -webkit-align-self: center;
    -moz-align-self:    center;
    -ms-align-self:     center;
    align-self:         center;
}

.baseline {
    -webkit-align-self: baseline;
    -moz-align-self:    baseline;
    -ms-align-self:     baseline;
    align-self:         baseline;
}

.stretch {
    -webkit-align-self: stretch;
    -moz-align-self:    stretch;
    -ms-align-self:     stretch;
    align-self:         stretch;
}

/* align-content (multiline container) */
.multiline-stretch {
    -webkit-align-content: stretch;
    -moz-align-content:    stretch;
    -ms-align-content:     stretch;
    align-content:         stretch;
}

.multiline-top {
    -webkit-align-content: flex-start;
    -moz-align-content:    flex-start;
    -ms-align-content:     flex-start;
    align-content:         flex-start;
}

.multiline-bottom {
    -webkit-align-content: flex-end;
    -moz-align-content:    flex-end;
    -ms-align-content:     flex-end;
    align-content:         flex-end;
}

.multiline-middle {
    -webkit-align-content: center;
    -moz-align-content:    center;
    -ms-align-content:     center;
    align-content:         center;
}

.multiline-space-between {
    -webkit-align-content: space-between;
    -moz-align-content:    space-between;
    -ms-align-content:     space-between;
    align-content:         space-between;
}

.multiline-space-around {
    -webkit-align-content: space-around;
    -moz-align-content:    space-around;
    -ms-align-content:     space-around;
    align-content:         space-around;
}

/*
   flex (multiline container)
   -------------------------------------------------------
   flex    none | flex-grow flex-shrink, flex-basis (item)
   flex-grow   0
   flex-shrink 1
   flex-basis  auto | width
*/
.flex-initial {
    -webkit-flex: 0 1 auto;
    -moz-flex:    0 1 auto;
    -ms-flex:     0 1 auto;
    flex:         0 1 auto;
}

.flex-auto {
    -webkit-flex: 1 1 auto;
    -moz-flex:    1 1 auto;
    -ms-flex:     1 1 auto;
    flex:         1 1 auto;
}

.flex-none {
    -webkit-flex: 0 0 auto;
    -moz-flex:    0 0 auto;
    -ms-flex:     0 0 auto;
    flex:         0 0 auto;
}

.flex-noshrink {
    -webkit-flex: 1 0 auto;
    -moz-flex:    1 0 auto;
    -ms-flex:     1 0 auto;
    flex:         1 0 auto;
}