html, body {
    margin:      0;
    padding:     0;
    height:   100%;
    font-family: "GeosansLight", Helvetica, Arial, san-serif;
    color: #333333;
}

body {
    background-color:     rgba(0, 0, 0, 1);
    background-repeat:           no-repeat;
    background-position:     center center;
    background-attachment:           fixed;
    -webkit-background-size:         cover;
    -moz-background-size:            cover;
    -o-background-size:              cover;
    background-size:                 cover;
}

body:after {
    content:                            "";
    position:                     absolute;
    top:                                 0;
    left:                                0;
    bottom:                              0;
    right:                               0;
    height:                           100%;
    width:                            100%;
    z-index:                          -100;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45OSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(0,0,0,0.1)), color-stop(99%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.navbar-nav > li > a.navbar-avatar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-avatar img {
    border-radius: 20px;
}

.navbar .form-control {
    height: 100%;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.1);
}

.drag-bar {
   position: fixed;
   top:       40px;
   bottom:    40px;
   width:      3px;
-webkit-transition: background-color .3s ease-in, box-shadow .3s ease-in;
   -moz-transition: background-color .3s ease-in, box-shadow .3s ease-in;
     -o-transition: background-color .3s ease-in, box-shadow .3s ease-in;
        transition: background-color .3s ease-in, box-shadow .3s ease-in;
}

.drag-bar:hover,
.drag-bar:active,
.drag-bar:focus {
    cursor:        col-resize;
    background-color: #bbddff;
    -webkit-box-shadow: 0 0 12px 2px rgba(187,221,255,0.5);
    -moz-box-shadow:    0 0 12px 2px rgba(187,221,255,0.5);
    box-shadow:         0 0 12px 2px rgba(187,221,255,0.5);
}

.drag-bar-handle {
    position: absolute;
    top: 50%;
    height: 21px;
    width: 9px;
    background-color: #bbddff;
    left: -3px;
    border-radius: 3px;
}

.drag-bar-handle .dot:after {
    content: "·";
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    line-height: 10px;
    height: 5px;
    display: block;
}

/* Body Styles */
@font-face {
  font-family: 'GeosansLight';
  src: url('../font/geosanslight/geosanslight-webfont.eot?v=3.2.1');
  src: url('../font/geosanslight/geosanslight-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
       url('../font/geosanslight/geosanslight-webfont.woff?v=3.2.1') format('woff'),
       url('../font/geosanslight/geosanslight-webfont.ttf?v=3.2.1') format('truetype'),
       url('../font/geosanslight/geosanslight-webfont.svg#geosanslightregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style:  normal;
}

body {
    height:          100%;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: column;
    -moz-flex-direction:    column;
    -ms-flex-direction:     column;
    flex-direction:         column;
}

header  { background: #000000; } /* #E6546B old */
footer  { background: #000000; } /* #8ACBB5 old */

header,
footer {
    height: 40px;
    -webkit-flex: 0 0 auto;
    -moz-flex:    0 0 auto;
    -ms-flex:     0 0 auto;
    flex:         0 0 auto;
}

.wrapper {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex: 1 1 auto;
    -moz-flex:    1 1 auto;
    -ms-flex:     1 1 auto;
    flex:         1 1 auto;
}

.content {
    overflow:   hidden;
    overflow-y:   auto;
    display:      flex;
    -webkit-flex: 1 1 auto;
    -moz-flex:    1 1 auto;
    -ms-flex:     1 1 auto;
    flex:         1 1 auto;
}

.sidebar {
    overflow:   hidden;
    overflow-y:   auto;
    width:   240px;
    -webkit-flex: 0 0 auto;
    -moz-flex:    0 0 auto;
    -ms-flex:     0 0 auto;
    flex:         0 0 auto;
}

nav.nav-bar {
    display:                  -webkit-flex;
    -webkit-justify-content: space-between;
}

nav.nav-bar li {
    position: relative;
}

nav.nav-bar li ul {
    position: absolute;
}

nav.nav-bar a {
    display:       -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    color:              #FFFFFF;
    text-decoration:       none;
    padding:             0 10px;
    height:                40px;
    font-weight:         bolder;
    font-size:           1.2rem;
}

nav.nav-bar ul li:hover, /* hover on top-level li, highlight self blue */
nav.nav-bar ul li:hover ul { /* also if submenu, highlight ul blue */
    background-color: rgba(0,102,204,1);
    z-index: 1;
}

nav.nav-bar ul.nav-left li:hover ul { /* hover on top-level left li, bring ul into page */
    left:    0;
    opacity: 1;
}

nav.nav-bar ul.nav-right li:hover ul { /* hover on top-level right li, bring ul into page */
    right:   0;
    opacity: 1;
}

nav.nav-bar ul ul li:hover { /* hover on sub-level li, highlight lt-blue */
    background-color: rgba(0,132,209,1);
}

nav.nav-bar ul {
    display: -webkit-flex;
    list-style:      none;
    margin:             0;
    padding:            0;
}

nav.nav-bar ul.nav-left ul {
    left: -9999px;
    opacity:    0;
    -webkit-flex-direction: column;
}

nav.nav-bar ul.nav-right ul {
    right: 9999px;
    opacity:    0;
    -webkit-flex-direction: column;
}

nav.nav-bar ul ul li [class^="icon-"],
nav.nav-bar ul ul li [class*=" icon-"],
nav.nav-bar ul ul li .fa {
    margin-right: 40px;
}

nav.nav-bar ul.nav-weather {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

nav.nav-bar ul.nav-weather li {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    position: relative;
}

nav.nav-bar ul.nav-weather li .nav-weather-title {
    position: absolute;
    text-align: center;
    width: 100%;
}

nav.nav-bar ul.nav-weather li ul {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
    margin-top: 20px;
    align-items: center;
}

nav.nav-bar ul.nav-weather li ul li {
    align-items: center;
}

.media-box {
    margin:          10px;
    padding:         10px;
}

.media-box-head {
}

.media-box-head h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.media-box-body-container {
    overflow-x:      auto;
    overflow-y:    hidden;
}

.media-box-body {
    overflow: scroll;
}

.media-item-container {
}

.media-item {
    padding: 10px;
    max-width: 144px;
}

.media-item:hover {
    background-color: #ffffff;
    border-radius: 4px;
}

.content .box-outer {
    margin: 10px;
    padding: 10px;
    overflow-x: auto;
}

.content .box-inner {
    position: relative;
}

.content .box-item {
    margin: 10px;
    max-width: 144px;
}

.content .box-item .box-item-img {
    min-height: 144px;
}

.content .box-item .box-item-title,
.content .box-item .box-item-detail {
    max-width: 144px;
    text-align: center;
}

.content .box-item .box-item-title p,
.content .box-item .box-item-detail p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0 0;
}

.content .box-item .box-item-title p {
    font-weight: bold;
}

.content .box-item:hover {
    background-color: #ffffff;
    padding: 20px;
}

.modal,
.modal form,
.modal-head,
.modal-body,
.modal-foot {
    display: flex;
    flex-direction: column;
}

.modal {
    margin:                            auto;
    background-color: rgba(255,255,255,0.2);
    padding:                 12px 24px 24px;
    border-radius:                      6px;
}

.modal-light {
    color:                          #222222;
    background-color: rgba(255,255,255,0.4);
}

.modal-dark {
    color:                                          #efefef;
    background-color:                    rgba(0, 0, 0, 0.5);
    box-shadow:       0 0 48px 8px rgba(255, 255, 255, 0.4);
}

.tops {
}

.bottoms {
}

footer, footer p, footer a {
    color: #ffffff;
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}

.widget {
}

.widget-body {
    overflow-x:            auto;
    overflow-y:          hidden;
}

.media-group {
}

.media-item {
  display:               flex;
  flex-direction:      column;
  justify-content:   flex-end;
}





