{% extends 'LanternThemeModernThemeBundle::index.html.twig' %}

{% block wrapper %}

    <section class="content">
        {% block content %}
        {% endblock content %}
    </section>

{% endblock wrapper %}