{% extends '::base.html.twig' %}

{% set pageIcon = 'dashboard' %}
{% set pageTitle = 'admin.panel'|trans %}
{% set pageSubtitle = 'dashboard'|trans %}
{% set activeItem = 'LanternAdminBundle_dashboard' %}

{% block navBody %}
    {% include 'LanternAdminBundle::nav.html.twig' %}
{% endblock navBody %}

{% block contentBody %}
    <div class="row">
        <div class="col-sm-12">
            I am the dashboard!
        </div>
    </div>
{% endblock contentBody %}