<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
        
        <a href="javascript:void(0);" id="show-shortcut">
            <img src="https://www.gravatar.com/avatar/a0bd5e6734010a67cca59e38feae029f.jpg?s=40&d=retro" alt="{{ app.user.username }}" class="online" /> 
            <span>
                {{ app.user.username|lower }}
            </span>
            <i class="fa fa-angle-down"></i>
        </a> 
        
    </span>
</div>
<!-- end user info -->